#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>
#include <dt-bindings/led/led.h>

/ {
    chosen {
        zmk,underglow = &led_strip;
        zmk,physical-layout = &default_layout;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <5>;
        rows = <1>;
        map = <RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4)>;
    };

    physical_layouts {
        compatible = "zmk,physical-layouts";
        default_layout: default_layout {
            compatible = "zmk,physical-layout";
            display-name = "Default Layout";
            transform = <&default_transform>;
            kscan = <&kscan0>;
            keys
                = <&key_physical_attrs 100 100 0 0 0 0 0>
                , <&key_physical_attrs 100 100 100 0 0 0 0>
                , <&key_physical_attrs 100 100 200 0 0 0 0>
                , <&key_physical_attrs 100 100 100 100 0 0 0>
                , <&key_physical_attrs 100 100 200 100 0 0 0>
                ;
        };
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN";
        input-gpios
            = <&xiao_d 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&xiao_d 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&xiao_d 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&xiao_d 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&xiao_d 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    encoder: encoder {
        compatible = "alps,ec11";
        label = "ENCODER";
        a-gpios = <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <20>;
    };
};



////////////////////////////////////////////
// LED (UNDERGLOW)
////////////////////////////////////////////

&pinctrl {
    pio0_spi0_default: pio0_spi0_default {
        group1 {
            pinmux = <PIO0_P0>;
        };
    };
};

&pio0 {
    status = "okay";

    pio0_aspi0: pio0_spi0 {
        pinctrl-0 = <&pio0_spi0_default>;
        pinctrl-names = "default";
        
        compatible = "raspberrypi,pico-spi-pio";
        #address-cells = <1>;
        #size-cells = <0>;
        clocks = <&system_clk>;
        clock-frequency = <4000000>;

        clk-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;    // 使わないので空ピンをダミーで
        mosi-gpios = <&xiao_d 6 GPIO_ACTIVE_HIGH>;
        miso-gpios = <&xiao_d 8 GPIO_ACTIVE_HIGH>;  // 使わないので空ピンをダミーで

        led_strip: ws2812@0 {
            compatible = "worldsemi,ws2812-spi";

            /* SPI */
            reg = <0>;
            spi-max-frequency = <4000000>;

            /* WS2812 */
            chain-length = <2>;
            spi-one-frame = <0x70>;
            spi-zero-frame = <0x40>;
            color-mapping = <LED_COLOR_ID_GREEN
                             LED_COLOR_ID_RED
                             LED_COLOR_ID_BLUE>;
        };
    };
};